{%extends "admin_layout.html"%}
{%block content%}
        <div class="my_container">
            <form action="#" method="POST">
            <div class="login_panel">
                <div class="center"><h1>Add Service</h1>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Service ID</span>
                    <input type="number" class="form-control" name="s_id" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="{{s_id}}" readonly>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Specification</span>
                    <input type="text" class="form-control" name="name" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Full Home,Toilet">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Price</span>
                    <input type="number" class="form-control" name="price" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="400">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Description</span>
                    <input type="text" class="form-control" name="description" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Elaborate Service">
                </div>               

                <div class="center">
                    <button type="submit" class="btn btn-primary">+Add Service</button>
                    <a href="/admin/{{name}}" button type="submit" class="btn btn-primary">Cancel</button></a>
                </div>
            </div>
        </form>
{%endblock%}