<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/styles/main.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title>Customer Dashboard</title>
    </head>
    <body>
        <div class="my_container2">
            <div class="center" ><h1>A Z Household Services</h1></div>
            <div class="my_panel">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#" style="color: orange;">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Search</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Summary</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Logout</a>
                      </li>
                    </ul>
        <div style="text-align:right;"><a href="#" class="link-success">Profile</a></div>
        
        <div class="d-flex flex-nowwrap justify-content-start gap-3">
            <div class="card" style="width: 16rem;">
                <img src="/static/images/electrical.jpg" class="card-img-top" alt=".Electrician" style="object-fit: cover; width: 100%; height: 184px;">
                <div class="card-body">
                <h5 class="card-title">Electrical</h5>
                <p class="card-text">Book skilled electricians to handle repairs, installations, or maintenance for safe electrical systems.</p>
                <a href="#" class="btn btn-primary">Book</a>
                </div>
            </div>        
        

            <div class="card" style="width: 16rem;">
                <img src="/static/images/plumber.jpeg" class="card-img-top" alt="Plumber" style="object-fit: cover; width: 100%; height: 184px;">
                <div class="card-body">
                <h5 class="card-title">Plumbing</h5>
                <p class="card-text">Get expert plumbers to fix leaks, unclog drains, or install fittings for a hassle-free water flow.</p>
                <a href="#" class="btn btn-primary">Book</a>
                </div>
            </div>


            <div class="card" style="width: 16rem;">
                <img src="/static/images/whitewash.jpg" class="card-img-top" alt="Whitewash" style="object-fit: cover; width: 100%; height: 184px;">
                <div class="card-body">
                <h5 class="card-title">Whitewash</h5>
                <p class="card-text">Refresh your walls with professional whitewashing services for a clean, bright, and vibrant home.</p>
                <a href="#" class="btn btn-primary">Book</a>
                </div>
            </div>

            <div class="card" style="width: 16rem;">
                <img src="/static/images/pest_control.jpeg" class="card-img-top" alt="Pest Control" style="object-fit: cover; width: 100%; height: 184px;">
                <div class="card-body">
                <h5 class="card-title">Pest Control</h5>
                <p class="card-text"> Ensure a pest-free home with reliable pest control solutions targeting insects, rodents, and more.</p>
                <a href="#" class="btn btn-primary">Book</a>
                </div>
            </div>

            <div class="card" style="width: 16rem;">
                <img src="/static/images/cleaning.jpg" class="card-img-top" alt="Cleaning" style="object-fit: cover; width: 100%; height: 184px;">
                <div class="card-body">
                <h5 class="card-title">Cleaning</h5>
                <p class="card-text">Schedule thorough cleaning services to keep your home sparkling and hygienic effortlessly.</p>
                <a href="#" class="btn btn-primary">Book</a>
                </div>
            </div>

        </div>


            </div>
        </div>
    </body>
</html>