<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/styles/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Login Page</title>
</head>
<body>
    <centre>
    <div class="center"><h1>A to Z Household Services</h1></div>
    <div class="my_container">
        <form action="/dashboard" method="POST">
        <div class="login_panel">
            <div class="center"><h3>Login Page</h3></div>
            <div class="right"><a href="/registers" class="link-success">Register as Professional</a></div>
            <div class="input_">
                <div class="mb-3">
                    <label for="user_name" class="form-label">Registered Email ID:</label>
                    <input type="email" class="form-control" name="user_name" id="user_id" placeholder="abc@gmail.com">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" class="form-control" name="password" id="user_password" placeholder="Abc#22aq">
                </div>
                <div class="center">
                    <button type="submit" class="btn btn-primary">Login</button>
                    <div class="center">{{msg}}</div>
                </div>
                <div class="center">
                    <a href="/registerc">Create Account?</a>
                </div>


            </div>
        </form>
        </div>
    </div>
</centre>   
</body>
</html>