{%extends "user_layout.html"%}
{%block content%}
        <div class="d-flex flex-nowwrap justify-content-start gap-3">
            <div class="card" style="width: 16rem;">
                <img src="/static/images/electrical.jpg" class="card-img-top" alt="Electrician" style="object-fit: cover; width: 100%; height: 184px;">
                <div class="card-body">
                <h5 class="card-title">Electrical</h5>
                <p class="card-text">Book skilled electricians to handle repairs, installations, or maintenance for safe electrical systems.</p>
                <a href="#" class="btn btn-primary">Book</a>
                </div>
            </div>        
        

            <div class="card" style="width: 16rem;">
                <img src="/static/images/plumber.jpeg" class="card-img-top" alt="Plumber" style="object-fit: cover; width: 100%; height: 184px;">
                <div class="card-body">
                <h5 class="card-title">Plumbing</h5>
                <p class="card-text">Get expert plumbers to fix leaks, unclog drains, or install fittings for a hassle-free water flow.</p>
                <a href="#" class="btn btn-primary">Book</a>
                </div>
            </div>


            <div class="card" style="width: 16rem;">
                <img src="/static/images/whitewash.jpg" class="card-img-top" alt="Whitewash" style="object-fit: cover; width: 100%; height: 184px;">
                <div class="card-body">
                <h5 class="card-title">Whitewash</h5>
                <p class="card-text">Refresh your walls with professional whitewashing services for a clean, bright, and vibrant home.</p>
                <a href="#" class="btn btn-primary">Book</a>
                </div>
            </div>

            <div class="card" style="width: 16rem;">
                <img src="/static/images/pest_control.jpeg" class="card-img-top" alt="Pest Control" style="object-fit: cover; width: 100%; height: 184px;">
                <div class="card-body">
                <h5 class="card-title">Pest Control</h5>
                <p class="card-text"> Ensure a pest-free home with reliable pest control solutions targeting insects, rodents, and more.</p>
                <a href="#" class="btn btn-primary">Book</a>
                </div>
            </div>

            <div class="card" style="width: 16rem;">
                <img src="/static/images/cleaning.jpg" class="card-img-top" alt="Cleaning" style="object-fit: cover; width: 100%; height: 184px;">
                <div class="card-body">
                <h5 class="card-title">Cleaning</h5>
                <p class="card-text">Schedule thorough cleaning services to keep your home sparkling and hygienic effortlessly.</p>
                <a href="#" class="btn btn-primary">Book</a>
                </div>
            </div>
        </div>

{%endblock%}